body {

    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-image: url(assets/colors-shapes.jpeg);
    background-size: contain;
    
}

h1 {
    color: darkmagenta;
    text-shadow: 2px 2px 4px orangered;
    text-align: center;
    font-weight: bold;
    border-style: groove;
    border-width: small;
    border-radius: 5px;
    border-color: azure;
    background-color: aqua;
}

h2 {
    color: darkmagenta;
    text-shadow: 1px 1px 3px orange;
}

h3 {
    color: rgb(13, 68, 123);
}

h4 {
    color: rgb(13, 68, 123);
}

footer {
    color:black;
}

ul.myUl {
    text-align: left;
    display: inline-block;
}

ol {
    text-align: center;
}

li {
    text-align: left;
}

.myDiv {
    border: 5px inset darkgray;
    width: 500px;
    padding: 5px;
    background-color: #F6DDB0;
    text-align: center;
    margin: auto;

}

.olDiv {
    border: 5px inset darkcyan;
    width: 700px;
    padding: 5px;
    margin: auto;
    background-color: #F6DDB0;
}

.noteDiv {
        border: 2px inset darkcyan;
        width: 200px;
        padding: 2px;
        margin: auto;
        background-color: #F6DDB0;
}

ul.TOC {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 150px;
    background-color: #ED8153;
    border: 1px groove black;
    position: fixed;
    overflow: auto;
}

li a:hover {
    background-color: bisque;
    color: black;
}

li a {
    display: block;
    color: black;
    text-align: center;
    border-bottom: 1px solid black;
}

#myNote {
    color: #11F6EC;
    font-weight: bold;
    background-color: #888;
    
}

label {
    display:block;
}

/*modal styling*/
.modal {
    display: none; /*why none?*/
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(darkcyan, whitesmoke, blue, 0.7);
}

/*modal box content*/
.modal-content {
    background-color: #F6DDB0;
    margin: 15% auto;
    padding: 20px;
    border: 3px solid #888;
    width: 80%;
}

/*close button*/
.close {
    color: #aaa;
    float: right;
    font-size: 30px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#output {
    font-size: 14pt;
    color: black;
    text-decoration: underline;
}

.icon {
    color: azure;
}

.centerText {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
   justify-content: center;
}